@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
}

.navbar {
    /* position: fixed; */
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar>h2 {
    font-family: cursive;
}

.navbar>ul>li {
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

.navbar>ul>li>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar>ul>li>a:hover {
    box-shadow: inset 100px 0 0 0 #ade9ff;
    color: black;
    transition: color .9s ease-in-out, box-shadow .7s ease-in-out;
}

.body {
    color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 5%;
}

.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i));
    color: #ade9ff
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.body-text {
    font-size: x-large;
    width: 50%;
}

.p1:hover {
    color: orangered;
}

.p2:hover {
    color: red;
}

.p3:hover {
    color: #ade9ff;

}

.boxes {
    display: flex;
    gap: 0;
}

.button1 {
    padding: 10px;
    background-color: #ade9ff;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button2 {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-image>img {
    width: 400px;
    height: 450px;
    position: absolute;
    left: 60%;
    border-radius: 10px;
    filter: grayscale(100%);
}

.body-image>img:hover {
    filter: grayscale(0%);
    animation: shake 0.5s;
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.drop-btn {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.drop-btn:hover {
    box-shadow: inset 100px 0 0 0 #ade9ff;
    color: black;
    transition: color .9s ease-in-out, box-shadow .7s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(134, 132, 132);
}

.dropdown:hover .dropbtn {
    background-color: #ade9ff;
}


.body2 {
    color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 5%;
}

.about-me {
    width: 100%;
    text-align: center;
    color: #ade9ff;
    ;
}

.body-image2 {
    width: 45%;
}

.body-image2>img {
    width: 450px;
    height: 450px;
    position: absolute;
    border-radius: 10px;
    filter: grayscale(100%);
}

.body-image2>img:hover {
    filter: grayscale(0%);

}

.body-text2 {
    font-size: x-large;
    width: 50%;
}

/* SKILLS */
.body3 {
    display: flex;
    margin-top: 50px;
}

.skills {
    text-align: center;
    color: #ade9ff;
}

.wrapper {
    width: 400px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
}

.skill>p {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background: #ade9ff;
    display: block;
    position: relative;
}

.skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;
}

.skill1 .skill-count1 {
    right: 0;
}

.skill1 {
    width: 85%;
}

.skill2 {
    width: 75%;
}

.skill2 .skill-count2 {
    right: 0;
}

.skill3 {
    width: 60%;
}

.skill3 .skill-count3 {
    right: 0;
}

/* professional skills */
.wrapper2 {
    width: 400px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
}

.skill>p {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background: #ade9ff;
    display: block;
    position: relative;
}

.skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;
}

.skill1 .skill-count1 {
    right: 0;
}

.skill1 {
    width: 95%;
}

.skill2 {
    width: 90%;
}

.skill2 .skill-count2 {
    right: 0;
}

.skill3 {
    width: 85%;
}

.skill3 .skill-count3 {
    right: 0;
}

.skill4 .skill-count4 {
    right: 0;
}

.skill4 {
    width: 80%;
}

/* contacts info */
.hireme {
    text-align: center;
    font-size: larger;
}

.cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.card {
    width: 300px;
    height: 70px;
    
    background-color: #ade9ff;
    /* margin: auto; */
    font-size: large;
    font-weight: bolder;
    border-radius: 20px;
}

.card > span {
    position: relative;
    top: 15px; 
    color: black;
    text-align: left;
}

.card>i {
    float: left;
    color: black;
    height: 50px;
    width: 50px;
    position: relative;
    top: 25px;
    left: 20px;
}